<mat-card class="movie-details-dialog">
    <button
    class="movie-details-close-button"
    mat-stroked-button
    aria-label="Close movie details button"
    mat-dialog-close
    color="primary">
        X
    </button>
    <mat-card-title>
        <h3 class="movie-details-dialog-title" style="text-align: center">{{ data.Title }}</h3>
    </mat-card-title>
    <br />
    <mat-dialog-content class="movie-details-dialog-content">
        <b>Description: </b>{{ data.Description }}
    </mat-dialog-content>
    <br />
</mat-card>